/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "../styles/tailwind.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #111827;
  --ifm-color-primary-dark: #0f1623;
  --ifm-color-primary-darker: #0e1421;
  --ifm-color-primary-darkest: #0c111b;
  --ifm-color-primary-light: #131a2b;
  --ifm-color-primary-lighter: #141c2d;
  --ifm-color-primary-lightest: #161f33;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Geist", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-heading-font-family: "Geist", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  /* --ifm-navbar-height: 4.75rem; */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f9fafb;
  --ifm-color-primary-dark: #dbe1e7;
  --ifm-color-primary-darker: #ccd4dd;
  --ifm-color-primary-darkest: #9fafbf;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-font-color-base);
  @apply relative isolate;
}

.hero--primary::before {
  @apply content-[''] absolute inset-0 -z-10 opacity-40 dark:opacity-20;
  background-color: var(--ifm-color-primary-contrast-background);
}

/* @import "@rcls/elements/elements.css"; */
@import "@locospec/responsive-preview-react/styles.css";
